body {
    font-family: "Lucida Grande", serif;
    background-color: hsl(74, 95%, 93%);
}

header  {
    border: 3px dashed hsl(63, 56%, 10%);
    background-color: hsl(63, 56%, 38%);
    color: #fff;
    height: 80px;
    padding: 16px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

main    {
    position: relative;
    border: 3px double hsl(63, 56%, 10%);
    margin-top: 16px;
    padding: 16px;
}

article {
    border: 2px solid hsl(63, 56%, 38%);
    background-color: hsl(63, 56%, 80%);;
    border-radius: 8px 8px 0 0;
    margin: 16px;
    padding: 16px;
}

.circle-one {
    display: inline-block;
    background-color: hsl(23, 100%, 65%);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 30px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 5px hsl(23, 100%, 30%));
}

.circle-two {
    display: inline-block;
    background-color: hsl(23, 100%, 65%);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    filter: drop-shadow(5px 5px 2px hsl(0, 0%, 0%));
}